{{ define "main" }}
	<section class="main">
		<main class="main__inner" role="main">
			<h3>Work 2</h3>
			{{ range where .Site.RegularPages "Section" "work" }}
				<h2 class="entry-title" itemprop="headline">
					<a href="{{ .RelPermalink }}">{{ .Title }}</a>
				</h2>
			{{ end }}
		</main>
	</section>
{{ end }}
