:root {
  --main-bg-color: brown; }

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

.header {
  background: var(--main-bg-color); }
  .header__inner {
    padding: 1rem;
    display: flex; }

.nav__inner {
  display: flex; }

.nav__item {
  list-style-type: none;
  margin: 1rem;
  text-align: center;
  background: wheat;
  padding: 1rem; }

.main {
  padding: 1rem;
  background: grey;
  flex-grow: 1; }

.footer {
  flex-grow: 0;
  padding: 1rem;
  background: #af8585; }

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.icon path {
  fill: darkgreen;
  stroke: darkgreen; }

.icon {
  display: inline-block;
  width: 200px;
  height: 200px; }


/*# sourceMappingURL=/app.css.map */