<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-GB{{ end }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
        <link rel="stylesheet" href="app.css">
        <title>
            {{ block "title" . }}
                {{ .Site.Title }}
            {{ end }}
        </title>
    </head>
    <body>
        {{ partialCached "icons/spritesheet.html" . }}
        {{ partial "header/header.html" . }}
        {{ block "main" . }}{{ end }}
        {{ partialCached "footer/footer.html" . }}
        <script>
            if (window.netlifyIdentity) {
                window
                    .netlifyIdentity
                    .on("init", user => {
                        if (!user) {
                            window
                                .netlifyIdentity
                                .on("login", () => {
                                    document.location.href = "/admin/";
                                });
                        }
                    });
            }
        </script>
    </body>
</html>
